.footer {
    height: 20rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--footer);
    color: var(--white);
    padding: 13rem 0 0 0 ;
}

h4 {
font-weight: 800;
font-size: 20px;
margin-bottom: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.list-redes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 768px) {

    .footer {
        display: flex;
        height: 32rem;
        padding: 10rem;
    }

    .our-product {
        display: none;
    }

    .about-car {
        display: none;
    }
    
    .list-redes{
        display: flex;
        flex-direction: column;
    }

    .resources {
        padding: 0 1rem;
    }
}